h2 {
  color:Midnightblue;
 font-family: 'Rye', cursive;
}

div.full-width p {
    width: 100%;
    padding: 0 15%;
    margin: 0;
    font-style: oblique;
    font-size:20px;
  color: #00008B;
}

.jumbotron{
    background-color:###81BEF7;
    text-align:center;
}

body {
  background-color: #EEE8AA;
}

