h2 {
  color:Midnightblue;
}

div.full-width p {
    width: 100%;
    padding: 0 15%;
    margin: 0;
    font-style: italic;
    font-size:20px;
  color: #483D8B;
}

.jumbotron{
    background-color:###81BEF7;
    text-align:center;
}

body {
  background-color: #EEE8AA;
}

aside.pullquote p {
    border-top: .3rem solid #483D8B;
    border-bottom: .3rem solid #483D8B;
    margin-left: 1rem;
}
