@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

p {font-family: 'Bree Serif', serif;}

h2 {color:red; 
font-family: 'Bree Serif', serif;}

h3 {color:red;
font-family: 'Bree Serif', serif;}
