h2 {  color:FireBrick;
 font-family: 'Permanent Marker', cursive;
 font-size:30px;
}
h3 {  color:FireBrick;
 font-family: 'Permanent Marker', cursive;
 font-size:30px;
}
h4 {
    color:FireBrick;
 font-family: 'Permanent Marker', cursive;
 font-size:30px;
}

body {
  background-color: #F0E68C
}   
p {
 line-height: 1.75em; 
}

