h2 {  color:FireBrick;
 font-family: 'Permanent Marker', cursive;
}
h3 {  color:FireBrick;
 font-family: 'Permanent Marker', cursive;
}
h4 {
    color:FireBrick;
 font-family: 'Permanent Marker', cursive;
}

body {
  background-color: #E6FFFF
}   
p {
 line-height: 1.75em; 
}

